body{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color:  hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.main{
    width: 19rem;
    height: 33rem;
    border-radius: 10px;
    background-color:hsl(216, 50%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem 1.5rem 1rem;
    flex-direction: column;
    gap: 2rem;
}

.img-section{
    max-width: 18rem;
    max-height: 18rem;
}

.img-section img{
    width: 100%;
    border-radius: 10px;
}

.content-section{
    display: flex;
    flex-direction: column;
    color: white;
    padding: .5rem;
}

.content-section h2{
    margin: 0;
}

.content-section p{
    color:rgba(252, 249, 249, 0.725)
}

.row1{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.price{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.price p{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.time{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.time p{
    color: hsl(215, 51%, 70%);
}

#line{
    width: 100%;
    border: none;
    height: .2px;
    background-color: rgba(255, 255, 255, 0.566);
    outline: none;
}

.row2{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.row2 img{
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    border-radius: 100%;
}

.row2 span{
    color: white;
}