body{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color:  hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    overflow: hidden;
}
